<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h2 style="text-align: center">Add User</h2>
    <form action="\addUser" method="post">
      <table align="center" border="">
        <tr>
          <td>
            <input type="text" name="username" placeholder="Username" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="email" name="email" placeholder="Email" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="password" name="password" placeholder="Password" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="number" name="age" placeholder="Age" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="number" name="mobile" placeholder="Moblie No." />
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="Submit" />
          </td>
        </tr>
      </table>
    </form>

    <table align="center" border="">
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Password</td>
        <td>Age</td>
        <td>Moblie</td>
        <td>Action</td>
      </tr>

      <% users.map((user)=>{ %> <% const {_id,username, email,password,age,mobile}= user %>
      <tr>
        <td><%= username %></td>
        <td><%= email %></td>
        <td><%= password %></td>
        <td><%= age %></td>
        <td><%= mobile %></td>
        <td><a href="/deleteData?id=<%=_id%>">Delete</a></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
